.base {
  display: initial;
}

.base table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
}

.grid {
  display: grid;
  gap: var(--space-3);
}

.block {
  display: block;
}

.nowrap {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.renderView {
  height: 280px;
  overflow: hidden;
  overflow-y: auto;
}

.renderView code {
  line-height: 1.8em;
}

.row1 {
  grid-template-columns: repeat(1fr);
}

.col_100 {
  grid-template-columns: repeat(80%, 1fr);
}
.col_70_20 {
  grid-template-columns: 70% 1fr;
  gap: 10px;
}
