:root {
  --tes: #07ef2c;
  --figma-color-bg: #ffffff;
  --figma-color-bg-brand: #0d99ff;
  --figma-color-text-secondary: #00000080;
  --figma-color-bg-component: #9747ff;
}

/* Dark mode colors */
[data-theme="dark"] {
  --tes: #f10000;
  --figma-color-bg: #2c2c2c;
  --figma-color-bg-brand: #0c8ce9;
  --figma-color-text-secondary: #ffffffb2;
  --figma-color-bg-component: #9747ff;
}

/* Auto dark mode based on system preference */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --tes: #f10000;
    --figma-color-bg: #2c2c2c;
    --figma-color-bg-brand: #0c8ce9;
    --figma-color-text-secondary: #ffffffb2;
    --figma-color-bg-component: #9747ff;
  }
}
