*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 100%;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color-white);
}

html {
  font-family: var(--font-family);
  font-size: var(--font-size-base);
  line-height: var(--font-line-height);
  height: 100%;
  color: var(--color-text);
}

body {
  overflow: overlay;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-evenly;
  align-items: stretch;
  height: 100%;
}

footer {
  width: 100%;
  background-color: var(--color-purple);
}

.container {
  max-width: var(--container);
  margin: auto;
}

.container.load {
  text-align: center;
  display: inline;
  height: 100vh;
  align-content: center;
}

footer nav {
  max-width: var(--container);
  margin: auto;
  display: flex;
  padding: var(--space-1) 0;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
