.banner {
  display: flex;
  align-items: center;
  position: relative;
}

.picture {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.copyText {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: right;
  padding: var(--font-size-medium);
  color: var(--color-white);
}
